# PPO Learning Hyperparameters
lr: 1e-4
max_grad_norm: 0.5
num_steps: 256
num_train_envs: 32
num_minibatches: 1
gamma: 0.995
epoch_ppo: 5
clip_eps: 0.2
gae_lambda: 0.98
entropy_coeff: 1e-3
critic_coeff: 0.5
